@model LoanApplicationSite.Models.ApplicationCompleteConfirmation

@{
    ViewBag.Title = "Application Complete";
}

<h2></h2>

<div class="jumbotron">
    <h1>Your Application is Complete!</h1>
    <p class="lead">Thanks for applying with us <span id="firstName">@Model.FirstName</span>.</p>
    <p>You'll hear back from us soon.</p>
</div>

<p></p>
